<div class="card">
    <h2 style="text-align: center;">{{ title() }}</h2>
    <div class="card">
        <form [formGroup]="deviceForm" (ngSubmit)="onSubmit()">
            @if (hasMetadata()){
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <td>
                            <div class="form-group mb-3">
                                <label for="deviceIdInput" class="form-label">Device ID</label>
                                <input type="text" id="deviceIdInput" class="form-control"
                                    [value]="metadata()?.deviceId || ''" readonly />
                            </div>
                        </td>
                        <td>
                            <div class="form-group mb-3">
                                <label for="createdAt" class="form-label">Created At</label>
                                <input type="text" id="deviceCreatedAt" class="form-control"
                                    [value]="metadata()?.createdAt || ''" readonly />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group mb-3">
                                <label for="numberOfShelvesInput" class="form-label">Number of Shelves</label>
                                <input type="text" id="numberOfShelvesInput" class="form-control"
                                    [value]="metadata()?.numberOfShelfPositions || 0" readonly />
                            </div>
                        </td>
                        <td>
                            <div class="form-group mb-3">
                                <label for="updatedAt" class="form-label">Updated At</label>
                                <input type="text" id="deviceUpdatedAt" class="form-control"
                                    [value]="metadata()?.updatedAt || ''" readonly />
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            }
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <td>
                            <div class="form-group mb-3">
                                <label for="deviceNameInput" class="form-label">Device Name</label>
                                <input type="text" id="deviceNameInput" class="form-control"
                                    placeholder="Enter Device Name" formControlName="deviceName" />
                            </div>
                        </td>
                        <td>
                            <div class="form-group mb-3">
                                <label for="deviceTypeInput" class="form-label">Device Type</label>
                                <input type="text" id="deviceTypeInput" class="form-control"
                                    placeholder="Enter Device Type" formControlName="deviceType"/>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group mb-3">
                                <label for="buildingNameInput" class="form-label">Building Name</label>
                                <input type="text" id="buildingNameInput" class="form-control"
                                    placeholder="Enter Building Name"  formControlName="buildingName"/>
                            </div>
                        </td>
                        <td>
                            <div class="form-group mb-3">
                                <label for="partNumberInput" class="form-label">Part Number</label>
                                <input type="text" id="partNumberInput" class="form-control"
                                    placeholder="Enter Part Number"  formControlName="partNumber"/>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="device-form-actions">
                <button type="submit">
                    {{submitLabel()}}
                </button>
                @if(showDeleteButton()){
                    <button type="button" (click)="onDelete()">Delete Device</button>
                }
            </div>
        </form>
    </div>
</div>