.header-row{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.table-scroll-wrapper{
    max-height: 75%;
    width: 88%;
    overflow-y: auto;
    border: 1px solid;
    background: #fff;
}

.table-scroll-wrapper table{
    width: 100%;
    margin-bottom: 0;
}

.pagination-row{
    margin: 16px 0;
    display: flex;
    align-items: center;
    gap: 12px;
}

.action-button{
    min-width: 110px;
    padding:6px 12px;
}

.create-button{
    margin-bottom: 16px;
}